<?php ?>

<div class="blog-header">
	<h1 class="blog-title">Documentation Blog</h1>
	<p class="lead blog-description">
		Oficial Documentation for this PHP Framework. Core V. <?php echo $version; ?>
	</p>
</div>

<div class="row">
	<div class="col-md-8 blog-main">
		<div class="blog-post">
			<h2 class="blog-post-title">Hola a mi blog</h2>
			<p class="blog-post-meta">
			January 1, 2014 by
			<a href="#">Mark</a>
			</p>
			<p>Este es mi blog</p>
		</div>
		<hr>
		<div class="blog-post">
			<h2 class="blog-post-title">Hola a mi blog</h2>
			<p class="blog-post-meta">
			January 1, 2014 by
			<a href="#">Mark</a>
			</p>
			<p>Este es mi blog</p>
		</div>
	</div>
</div>


